.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_main.Rmd
docs/
environment-exported.yml
environment-old.yml

_main.rds

.ts/
index.md
index.utf8.md
01-fundamental.knit.md
08-finance.knit.md
