
/*  Source Code - Outer Box */
div.sourceCode {
  background-color: transparent         !important;
}

/* Source Code - Inner Box */
pre.sourceCode {
  border:           2px solid lightgray !important;
  border-radius:    5px;
}

/* Output Box - Outer Box*/
pre {
  margin-top:       5px                 !important;
  margin-bottom:    5px                 !important;
  padding:          10px                !important;
}

/* Code block - Source and Output */
/* Make the word wrap             */
code {
  white-space:  pre-wrap                !important;
  word-break:   keep-all                !important;
}

/* Section Body, affecting Source Code */
p {
  margin-top:10px                     !important;
  margin-bottom:5px                   !important;
  font-size:1.4rem                    !important;
}

li {
  font-size: 1.4rem !important;
}
